* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

p{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

p:last-of-type{
    margin-bottom: 1em;
}


body {
    background-color: rgb(184, 181, 181);
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(216, 220, 226);
}

h1,h2,h3,h4,h5,h6{
    color:  rgb(236, 253, 80);
    margin-bottom: 0.8em;
}

button{
    background-color: rgb(37, 37, 36);
    border: none;
    color: #EBF2FA;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    height: 3em;
    width: auto;
}

button:disabled {
    background-color: rgb(172, 172, 172);
    color: rgb(216, 216, 216);
}

div{
    background-color:#05668D;
    margin: 0.3em;
    padding: 2em;
    border-radius: 1em;
    
}

#grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px auto;
    background-color:rgb(184, 181, 181);
    border: 0.2em solid #67943600;
    padding: 0em;
}

#logo{

    display: inline-block;
    height: 5em;
    width: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 0.5s ease-in-out;
}


#logo:hover{
    
    height: 8em;

}

#graph{
    background-color: lightgrey;
}